@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');





* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://i.postimg.cc/bJfq0cD0/hr.jpg);
    background-size: cover;
}

.login-box {
  
  width: 350px;
  height: 410px;
  background-image: radial-gradient(circle at 16.69% 2.42%, #00a6af 0, #008b99 16.67%, #0f6e7c 33.33%, #1c4e5a 50%, #1c3138 66.67%, #15191b 83.33%, #050000 100%);
  color: #fff;
  border-radius: px;
}

.login-box h1 {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
}

.contenedor1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;  
  margin-bottom: 20px;
  margin-top: 30px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

form input {
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
  border-radius: 10px;

}

form a{
 text-decoration: none;
 color: white;
}

.button{
    margin-top: 15px;
    border: transparent;
    background-color: rgba(235, 117, 78, 0.819);
    color: #ffff;
    width: 250px;
    font-size: 25px;
  
}

.button:hover{
    border-radius: 50px;
    background: #b98383;
    box-shadow:  47px 47px 94px #9d6f6f,
                 -47px -47px 94px #d59797;
}