* {
    margin: 0;
    padding: 0;
  }
  /* .main{
  width: 1500px;
  } */
  .grid {
    width: 1200px;
    height: 100vh;
    margin: auto;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
  }
  
  .item{
      border: solid white;
      grid-area: span 2;
  }
  .img{
      height: 375px;
      width:auto;
  }
  .item1 {
      /* background: rgb(8, 174, 11); */
      grid-column: 1/5;
      grid-row: 1/2;
      display: flex;
      justify-content: space-between;
      /* border: solid; */
    }
  
  .item2{
      background: url(./images/desktop/image-deep-earth.jpg)no-repeat ;
      background-size: cover;
      /* background-position: center; */
  }
  .item3{
      background: url(./images/desktop/image-night-arcade.jpg)no-repeat ;
      background-size: cover;
  }
  .item4{
      background: url(./images/desktop/image-soccer-team.jpg)no-repeat ;
      background-size: cover;
  }
  .item5{
      background: url(./images/desktop/image-grid.jpg)no-repeat ;
      background-size: cover;
  }
  .item6{
      background: url(./images/desktop/image-from-above.jpg)no-repeat ;
      background-size: cover;
  }
  .item7{
      background: url(./images/desktop/image-pocket-borealis.jpg)no-repeat ;
      background-size: cover;
  }
  .item8{
      background: url(./images/desktop/image-curiosity.jpg)no-repeat ;
      background-size: cover;
  }
  .item9{
      background: url(./images/desktop/image-fisheye.jpg)no-repeat ;
      background-size: cover;
  }
  .item{
      display: flex;
      align-items: end;
      
      
  }
  .texto_img{
      font-size: 45px;
      color: white;
      margin-bottom:20px;
      margin-left:40px;
      font-family:Arial, Helvetica, sans-serif;
      
  }
  .texto_header{
      font-size: 50px;
      letter-spacing: 10px;
      margin-bottom: 80px;
  }
  .boton{
      width: 150px;
      height: 40px;
      background: black;
      color: white;
      font-size: 15px;
      margin-bottom: 80px;
  
  }
  
             /* responsive */
@media screen and (max-width: 800px) {
    body {
        background: black;
    }
    /* .section-principal {
      display: flex;
      flex-wrap: wrap;
    } */
}